{{!-- 
celery
cereals containing gluten (barley/ oats)
crustaceans (such as prawns, crabs and lobsters)
eggs
fish
lupin
milk
molluscs (such as mussels and oysters)
mustard
peanuts
sesame
soybeans
sulphur dioxide and sulphites (at a concentration of more than ten parts per million) 
tree nuts
such as almonds, hazelnuts, walnuts, brazil nuts, cashews, pecans, pistachios and macadamia nuts).
 --}}




<form id="allergen-form">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">1</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">2</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>