<div class="col-6 col-md-4 col-lg-3">
    <div class="card mb-3">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{brand}}</h5>
            <p class="card-text">{{title}}</p>
        </div>
        <div class="card-footer">
            <button id="{{productId}}" class="w-100 btn btn-outline-secondary view-product-button">View Product</button>
        </div>
    </div>
</div>