<h3 id="result-title" style="display: none;">Results:</h3>

<div id="product-index" class="row">

</div>

<div id="product-index-placeholder" class="row p-5 mt-3">
    <div class="col-12 mb-3">
        <h3>What are you waiting for? Search for a product above!</h3>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <i class="fas fa-bread-slice fa-4x"></i>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <i class="fas fa-cookie fa-4x"></i>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-center align-items-center p-5">
                <i class="fas fa-pizza-slice fa-4x"></i>
            </div>
        </div>
    </div>

</div>